<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>拼客后台管理</title>
    <link th:href="@{/css/app.css}" rel="stylesheet">
    <script th:src="@{/js/app.js}"></script>
    <style type="text/css">
        .setsidebg{
            background: url("http://pic.616pic.com/bg_w1180/00/01/31/fMe4mGEbpr.jpg!/fw/880");
        }
        .setbgnodisplay{
            background-color:rgba(0,0,0,0);
        }
        .setmainbg{
            background-size: 200% auto;
            background-repeat: no-repeat;
            background-image: url("http://pic.616pic.com/bg_w1180/00/00/76/Oet6WBYtwc.jpg!/fw/1120");
        }
    </style>
</head>

<body>
<div class="wrapper">
    <div th:include="common::sideBar"></div>
    <div class="main setmainbg">
        <nav class="navbar navbar-expand navbar-light">
            <!--css冲突，临时排版-->
            <div class="col-9"></div>
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a class="nav-link d-none d-sm-inline-block" href="#" data-toggle="dropdown">
                            <span class="text-dark"><span style="color: whitesmoke">欢迎&nbsp;&nbsp;[[${session.theAdmin.realName}]]&nbsp;&nbsp;回来</span></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" th:href="@{/logout}">退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content">
            <div class="container-fluid p-0">
                <h1 class="h3 mb-3" style="color: whitesmoke">首页轮播管理</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="background-color: #fff">
                            <div class="card-header" id="rollAdDiv">
                                <div>
                                    <label class="col-1">序号</label>
                                    <label class="col-2">预览</label>
                                    <label class="col-6">地址</label>
                                    <label class="col-1">操作</label>
                                    <br/><br/><br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<script>
    $(function () {
        //显示大图
        $(document).on("mousemove mouseover mouseout", ".imganimation", function (event) {
            var theBig = $(this).next();
            if (event.type == "mouseover") {
                console.log("over");
                theBig.show();
            } else if (event.type == "mouseout") {
                console.log("out");
                theBig.hide();
            } else if (event.type == "mousemove") {
                console.log("move");
                theBig.offset({
                    //一定要有些距离  如果重叠会触发错误
                    left: event.pageX + 10,
                    top: event.pageY + 10
                });
            }
        });

        $.ajax({
            url: "/rollAd/getRollAds",
            data: "",
            type: "GET",
            success: function (result) {
                $.each(result, function (index, rollAd) {

                    var exteriorDiv = $("<div></div>");
                    var label1 = $("<label class=\"col-1\"></label>").append(rollAd.imgId);

                    var img = $("<img class='imganimation' width=\"96\" height=\"54\"/></label>").attr("src", rollAd.imgSrc);
                    var bigImg = $("<img width=\"384\" height=\"216\" style='display: none;z-index: 1;position: absolute'/>").attr("src", rollAd.imgSrc);
                    var label2 = $("<label class=\"col-2\"></label>").append(img).append(bigImg);

                    var text1 = '地址：&nbsp;&nbsp;';
                    var input1 = $("<input style='width: 300px' type=\"text\"/>").attr("placeholder", rollAd.imgSrc);
                    var label3 = $("<label class=\"col-6\"></label>").append(text1).append(input1);

                    var but = $("<button type=\"button\" class=\"col-1 btn-vimeo\">修改</button>").attr("rollAdId", rollAd.imgId);
                    var br = $("<br/><br/><br/>");
                    exteriorDiv.append(label1).append(label2).append(label3).append(but).append(br);
                    $("#rollAdDiv").append(exteriorDiv);
                });
            }
        });

        $(document).on("click", ".btn-vimeo", function (event) {
            if ($(this).prev().find("input").val() != '') {
                $.ajax({
                    url: "/rollAd/changeRollAd",
                    data: "imgId=" + $(this).attr("rolladid") + "&imgSrc=" + $(this).prev().find("input").val(),
                    type: "POST",
                    success: function (result) {
                        location.reload();
                    }
                });
            }
        });
    });
</script>
</body>

</html>